@{
    ViewData["Title"] = "Get All UnActivated Apartments";
}

<h1>Get All UnActivated Apartments</h1>



<table class="table table-striped mt-4">
    <thead>
        <tr class="bg-primary text-white">
            <th>Name</th>
            <th>BlockNo</th>
            <th>IsEmpty</th>
            <th>PersonsNumber</th>
            <th>FloorNo</th>
            <th>ApartmentNo</th>
            <th>IsActive</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var role in Model)
        {
            <tr>
                <td>@role.Name</td>
                <td>@role.BlockNo</td>
                <td>@role.IsEmpty</td>
                <td>@role.PersonsNumber</td>
                <td>@role.FloorNo</td>
                <td>@role.ApartmentNo</td>
                <td>@role.IsActive</td>
            </tr>
        }
    </tbody>
</table>
