@model IEnumerable<SmartBill.BusinessLogicLayer.Dtos.ApartmentDto.GetAllApartmentRequestDto>

@{
    ViewData["Title"] = "Get All Activated Apartments";
}

<h1>Get All Activated Apartments</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BlockNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsEmpty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PersonsNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FloorNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApartmentNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BlockNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsEmpty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PersonsNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FloorNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApartmentNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsActive)
            </td>
            
        </tr>
}
    </tbody>
</table>
