@model SmartBill.BusinessLogicLayer.Dtos.ApartmentDto.GetApartmentRequestDto

@{
    ViewData["Title"] = "GetById";
}

<h1>Details</h1>

<div>
    <hr />
    <dl class="row">
        <input type="hidden" asp-for="Id"/>
        <dt class = "col-sm-2 table-bordered">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Location.City.Name)
        </dd>
        <dt class = "col-sm-2 table-bordered">
            @Html.DisplayNameFor(model => model.Location.City.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Location.PostalCode)
        </dd>
        <dt class = "col-sm-2 table-bordered">
            @Html.DisplayNameFor(model => model.Location.PostalCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Location.Street)
        </dd>
        <dt class = "col-sm-2 table-bordered">
            @Html.DisplayNameFor(model => model.Location.Street)
        </dt>
        @if(Model.ApplicationUser is not null)
        {
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.ApplicationUser.TurkishIdentity)
            </dd>
            <dt class = "col-sm-2 table-bordered">
                @Html.DisplayNameFor(model => model.ApplicationUser.TurkishIdentity)
            </dt>

            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.ApplicationUser.FirstName)
            </dd>
            <dt class = "col-sm-2 table-bordered">
                @Html.DisplayNameFor(model => model.ApplicationUser.FirstName)
            </dt>
             <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.ApplicationUser.LastName)
            </dd>
            <dt class = "col-sm-2 table-bordered">
                @Html.DisplayNameFor(model => model.ApplicationUser.LastName)
            </dt>
        }
        

        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BlockNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BlockNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsEmpty)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsEmpty)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PersonsNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PersonsNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FloorNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FloorNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ApartmentNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApartmentNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastModifiedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastModifiedDate)
        </dd>
        @if(Model.UnActivatedDate is not null)
        {
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.UnActivatedDate)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.UnActivatedDate)
            </dd>
        }
        else
        {
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.ActivatedDate)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.ActivatedDate)
            </dd>
        }

        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsActive)
        </dd>
        
    </dl>
</div>
<div>
    <a asp-action="Delete" asp-controller="Apartments" class="btn btn-danger" asp-route-Id="@Model.Id">Delete</a>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>
